.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}

body {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.navbar__s1__title {
    color: #A435F0;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s2 input {
    border: none;
    width: 100%;
}

.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}



.mylearning{
    position: relative;
    cursor: pointer;
}

.mylearning__popup{
    position: absolute;
    border: solid black 1px;
    padding: 10px;
    width: 100px;
    top: 150%;
    display: none;
    background-color: white;
    right: 0;

}

.mylearning:hover .mylearning__popup{
    display: block;
}
.categories{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid black 1px;

}

.categories p{
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    border: #A435F0 solid 1px;

}

.categories p:hover{
background-color: transparent;
color: black;
border: #A435F0 solid 1px;
transition: 1s;
}

.sale-image img{
    width: 100%;
}

.sale-image{
    position: relative;
}

.saleimage__offer{
    border: solid black 2px;
    padding: 20px;
    width: fit-content;
   
    position: absolute;
    top: 60px;
    background-color: white;
    left: 30px;
   animation-name: zoom;
   animation-duration: 2s;
   opacity: 0;
   animation-fill-mode: forwards;
}

@keyframes zoom {
0%{
    opacity: 0;
    transform: scale(0);
}

100%{
    opacity: 1;
    transform: scale(1);
}
    
}

.course-card{
   flex-grow: 1;
   flex-basis: 40%;
   margin: 5px;
   
}

.course-card img{
    width: 100%;
    height: 60%;
}

.recommended-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
   
}

.recommended{
    padding: 10px;
}

.topics{
   margin-top: 10px;
    padding: 10px;
    
}
.topics-container{
 display: flex;
 padding: 10px;
 flex-wrap: wrap;
 margin-top: 10px;
 gap: 10px;

}

.topics-container p{
border: solid grey 2px;
padding: 10px;
flex-grow: 1;
flex-basis: 25%;
}

.popular{
    padding: 10px;
}

.popular-container{
    display: flex;
    flex-wrap: wrap;
   margin-top: 10px;
   justify-content: space-between;
   

}

.footer{
    background-color: black;
    color: white;
    padding: 30px;
}

.footer-one{
    display: flex;
 
   gap: 30px;
    
}

.footer-two{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}

.footer-one p{
    margin: 20px;
}



@media screen and (max-width:800px) {
    body{
        font-size: 10px;
    }
    .saleimage__offer{
        top: 20px;
        left: 10px;
        width: 50%;
        padding: 10px;
    }
    .course-card{
        flex-basis: 40%;
    }
} 

    @media screen and (max-width:600px) {

.categories,.navbar__s2,.navbar__s3{
    display: none;
}



    }
